<div class="sudoku-board-container">
  @if (loading) {
    <div class="loading">
      <div class="spinner"></div>
      <p>Loading...</p>
    </div>
  } @else if (board) {
    <div class="sudoku-board">
      @for (rowItem of board; track $index; let rowIndex = $index) {
        <div class="sudoku-row">
          @for (cell of rowItem; track $index; let colIndex = $index) {
            <div class="sudoku-cell" [class.given]="isGivenCell(cell)">
              {{ getCellValue(cell) }}
            </div>
          }
        </div>
      }
    </div>
  } @else {
    <p class="no-puzzle">No puzzle loaded</p>
  }
</div>
